# Copyright 2019 Fluid Numerics LLC.
# Adapted for Fluid Runners workflow.
#
# Copyright 2017 SchedMD LLC.
# Modified for use with the Slurm Resource Manager.
#
# Copyright 2015 Google Inc. All rights reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

resources:
{% if not properties['vpc_subnet'] %}
- name: {{properties["cluster_name"]}}-slurm-network
  type: compute.v1.network
  properties:
    autoCreateSubnetworks: false
- name: {{properties["cluster_name"]}}-slurm-subnet
  type: compute.v1.subnetwork
  properties:
    network: $(ref.{{properties["cluster_name"]}}-slurm-network.selfLink)
    ipCidrRange: {{ properties["cidr"]}}
    region: {{ properties["region"] }}
    privateIpGoogleAccess: {{ properties["private_google_access"]}}
- name: {{properties["cluster_name"]}}-ssh-firewall-rule
  type: compute.v1.firewall
  properties:
    network: $(ref.{{properties["cluster_name"]}}-slurm-network.selfLink)
    sourceRanges: ["0.0.0.0/0"]
    allowed:
    - IPProtocol: TCP
      ports: ["22","443"]
    - IPProtocol: ICMP
- name: {{properties["cluster_name"]}}-all-internal-firewall-rule
  type: compute.v1.firewall
  properties:
    network: $(ref.{{properties["cluster_name"]}}-slurm-network.selfLink)
    sourceRanges: [{{properties["cidr"]}}]
    allowed:
    - IPProtocol: TCP
      ports: ["0-65535"]
    - IPProtocol: UDP
      ports: ["0-65535"]
    - IPProtocol: ICMP
{% endif %}

{% if (not properties['external_compute_ips'] and not properties['shared_vpc_host_proj']) %}
- name: {{properties["cluster_name"]}}-router
  type: compute.v1.router
  properties:
  {% if properties['vpc_net'] %}
    network: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/global/networks/{{ properties["vpc_net"]}}
  {% else %}
    network: $(ref.{{properties["cluster_name"]}}-slurm-network.selfLink)
  {% endif %}
    region: {{ properties["region"] }}
    nats:
    - name: {{properties["cluster_name"]}}-nat
      natIpAllocateOption: "AUTO_ONLY"
      sourceSubnetworkIpRangesToNat: "LIST_OF_SUBNETWORKS"
      subnetworks:
  {% if properties['vpc_net'] %}
      - name: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/regions/{{ properties["region"] }}/subnetworks/{{ properties ["vpc_subnet"] }}
  {% else %}
      - name: $(ref.{{properties["cluster_name"]}}-slurm-subnet.selfLink)
  {% endif %}
        sourceIpRangesToNat: ["PRIMARY_IP_RANGE"]
{% endif %}

- name: {{properties["cluster_name"]}}-controller
  type: compute.v1.instance
  properties:
    zone: {{ properties["zone"] }}
    machineType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/machineTypes/{{ properties["controller_machine_type"] }}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: true
      initializeParams:
        sourceImage: projects/{{ properties["image_host_project"] }}/global/images/family/slurm-controller-image-{{ properties["image_version"] }}-family
        diskType: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/zones/{{ properties["zone"] }}/diskTypes/{{ properties["controller_disk_type"] }}
        diskSizeGb: {{ properties["controller_disk_size_gb"] }}
{% if not properties['external_compute_ips'] %}
    canIpForward: true
{% endif %}
{% if (properties ['vpc_subnet'] and properties ['shared_vpc_host_proj'])  %}
    networkInterfaces:
    - subnetwork: https://www.googleapis.com/compute/v1/projects/{{ properties["shared_vpc_host_proj"] }}/regions/{{ properties["region"] }}/subnetworks/{{ properties ["vpc_subnet"] }}
{% elif properties ['vpc_subnet'] %}
    networkInterfaces:
    - subnetwork: https://www.googleapis.com/compute/v1/projects/{{ env["project"] }}/regions/{{ properties["region"] }}/subnetworks/{{ properties ["vpc_subnet"] }}
{% else %}
    networkInterfaces:
    - subnetwork: $(ref.{{properties["cluster_name"]}}-slurm-subnet.selfLink)
{% endif %}
    serviceAccounts:
      - email: "default"
        scopes:
        - "https://www.googleapis.com/auth/cloud-platform"
    tags:
      items:
        - controller
{% if properties["controller_labels"] %}
    labels:
      {{properties["controller_labels"]}}
{% endif %}
    metadata:
      items:
        - key: startup-script
          value: |
            {{ imports["scripts/startup-script.sh"]|indent(12)|replace("@INSTANCE_TYPE@","controller")|replace("@CLUSTER_NAME@",properties["cluster_name"]) }}
        - key: cluster-config
          value: |
            {{ imports["scripts/cluster-config.json"]|indent(12)|replace("@IMAGE_VERSION@",properties["image_version"])|replace("@IMAGE_HOST_PROJECT@",properties["image_host_project"])|replace("@CLUSTER_NAME@",properties["cluster_name"])|replace("@SLURM_DB_HOST@",properties['slurm_db_host'])|replace("@SUSPEND_TIME@",properties["suspend_time"])|replace('@SLURM_USERS@',properties['default_users'])|replace("@DEFAULT_SLURM_ACCT@",properties["default_account"])|replace("@NFS_HOME_SERVER@",properties["nfs_home_server"])|replace("@PROJECT@",env["project"])|replace("@REGION@",properties["region"])|replace("@ZONE@",properties["zone"])|replace("@PARTITIONS@",properties["partitions"])|replace("@MOUNTS@",properties["mounts"])|replace("@MUNGE_KEY@",properties["munge_key"]) }}
        - key: enable-oslogin
          value: "TRUE"

